<!-- <app-inside-topnavbar></app-inside-topnavbar> -->
<header #topHeightIdentifier class="p-3 bg-dark text-white headerclass">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <!-- <button type="button" class="btn btn-outline-light me-2" aria-label="Toggle sidenav" mat-icon-button
                (click)="drawer.toggle()"> -->
                <button (click)="sidenavButtonClick()" type="button" class="btn btn-outline-light me-2"  mat-icon-button>
                <!-- *ngIf="isHandset$ | async"> -->
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a routerLink="teams-managment" class="nav-link px-2 text-white">Teams</a></li>
                <li><a routerLink="people" class="nav-link px-2 text-white">People</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning"(click)="LogOut()">Log out</button>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
