
.AddUserButton{

    min-width: 0 !important;
}
.AddUserButton:hover{
    background-color: #00c853;
    color: black;
}

.container-fluid{

    /* height: -moz-calc(100% - 72px);
    height: -webkit-calc(100% - 72px); */
    height: 100%;
}
.People{
    overflow: auto;
    padding-top: 5px;
}
.PeopleCard{
   display: flex;
   flex-direction:  column;
   gap: 1px;
}
.Messages {
    overflow: auto;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--color-ng-mat-primary);
    padding-top: 5px; 
}
.singleUser{
    padding: 10px;
    border-radius:6px;
    display:flex;
    overflow: hidden ;
    text-overflow: ellipsis;

}
.singleUser:hover{
    padding: 10px;
    opacity: 0.8;
    cursor: pointer;
}
.inputSearch{
    background-color: #3A3B3C;
    border: 1;
    border-radius: 5px;
    border-color: var(--color-ng-mat-primary);
    color: white !important;
    text-overflow: ellipsis;

}
/* .userEmail{
} */
.userPicture{
    margin-right: 20px;
}
.People > * {
    min-width: 30px !important;
}

@media only screen and (max-width: 576px) { 
    .userEmail { display: none;}  
    .addPeopleText{ display: none;}  
    .singleUser{ justify-content: center !important; }
    .userPicture{margin-right: 0px !important;}
}
.card{
    border-color: var(--color-ng-mat-primary);
    display: block !important;
}

.message{

}
.xxx{
    background-color: #00c853;
    width: 10%;
    height: 10%;
}
#section-2{
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.ng-custom-boder{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--color-ng-mat-primary);
}

.card-message{
    background-color:var(--color-ng-mat-primary) ;
    color: var(--bs-white);
    border-radius: 30px;
}
