<div class="row">
    <div class="col-4 People">

        <div class="row">
            <button mat-raised-button (click)="addPerson()" class="btn btn-success"><i class="fa-solid fa-user-plus"></i> Add people</button>
        </div>
        <div class="row">
            <mat-form-field>
                <input matInput type="text" placeholder="Filter">
            </mat-form-field>
        </div>
        <p>Add people (wyskakuje dialog)</p>
        <p>poniżej lista wszystkich ludzi którzy zakceptowali</p>



    </div>
    <div class="col-6 Messages">

        <p>people works!</p>



    </div>
</div>