<div class="container-fluid flex-nowrap row g-0">
  <div class="col-3">
    <div class="People ng-custom-boder d-flex flex-column p-3 text-white bg-dark h-100">
      <button class="AddUserButton mb-2 overflow-hidden px-2" mat-raised-button (click)="addPerson()" color="primary">
        <i class="fa-solid fa-user-plus"></i>
        <span class="addPeopleText"> Add people</span>
      </button>

      <form class="mb-2">
        <input type="search" class="inputSearch form-control form-control-dark" placeholder="Wyszukaj użytkownika..."
          aria-label="Search" />
      </form>

      <h1 class="overflow-hidden">Czaty</h1>

      <div class="PeopleCard">
        <div *ngFor="let user of invitedUsers$ | async">
          <div (click)="SelectUser(user)"
            class="singleUser alert-primary d-flex justify-content-between align-items-center g-0 overflow-hidden"
            role="alert">

            <i class="userPicture fa-solid fa-user"></i>
            <div class="userEmail">{{ user?.email }}</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="chat col-9 bg-dark ng-custom-boder d-flex flex-column">
    <div class="chat-header p-2 ng-custom-boder text-white bg-dark text-white" *ngIf="selectedUser">
        <i id="user-img" class="fa-solid fa-user"></i> {{selectedUser.email}}
    </div>
    <div class="chat-body h-100 overflow-auto">
      <div [ngClass]="selectedUser.id==messaged.senderId ? 'align-self-start' : 'align-self-end' " class="card-message  d-flex align-items-end" *ngFor="let messaged of messages$ | async; let last = last" [matTooltip]="messaged.messageSent.toString() | date: 'MMMM d, y, h:mm:ss a' "
        matTooltipPosition="before">
        <i id="user-img" *ngIf="selectedUser.id==messaged.senderId" class="fa-solid fa-user"></i>
        <div class="card-message-body">
          <p class="card-text">{{messaged.content}}</p>
        </div>
        <i class="seen-icon" *ngIf="selectedUser.id!=messaged.senderId" [ngClass]="messaged.dateRead===null? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
      </div>
    </div>
    <div class="chat-footer text-muted ng-custom-boder p-2">
      <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
        <div class="input-group">
          <input name="messageContent" required [(ngModel)]="messageContent" type="text" class="form-control input-sm"
            placeholder="Send a private message">
          <div class="input-group-append">
            <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">Send
              <i class="fa fa-spinner fa-spin"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- kolororowy kot -->



<!--
    <div class="card text-white bg-dark">

      <div class="card-body">

        <div *ngIf="(messages$ | async)?.length === 0 || messages$ === undefined || messages$ === null">
          <p class="card-text text-center">No messages yet... say hi by using the message box below</p>
        </div>

          <div class="Messages text-white bg-dark" *ngFor="let messaged of messages$ | async">
            <div class="card-header text-blue">{{messaged.senderId}}(dopisane)</div>
            <div class="card-body">
              <h5 class="card-title">{{messaged.messageSent}}</h5>
              <p class="card-text">
                {{messaged.content}}(dopisane)
              </p>
            </div>
          </div>
        </span> 
      </div>
      <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
          <div class="input-group">
            <input name="messageContent" required [(ngModel)]="messageContent" type="text" class="form-control input-sm"
              placeholder="Send a private message">
            <div class="input-group-append">
              <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">Send
                <i class="fa fa-spinner fa-spin"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  


-->








<!-- <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div> -->

<!-- <div class="Messages text-white bg-dark">
  <div class="card-header">name + avatar</div>
  <div class="card-body">
    <h5 class="card-title">time</h5>
    <p class="card-text">
        content
    </p>
  </div>
</div> -->