<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div class="main" mat-dialog-content [formGroup]="form">
  <p>Podaj email uzytkownika aby go dodać</p>

  <div *ngIf="selectedUser; else searchBlock">
    <!--  -->
    <div class="alert alert-primary d-flex justify-content-between align-items-center  g-0" role="alert">
      <i class="fa-solid fa-user"></i>
      <div class="mr-auto userEmail">{{selectedUser?.email}}</div>
      <button mat-icon-button (click)="select(null)"><i class="ml-auto fa-solid fa-xmark"></i></button>
    </div>
    <!-- <i class="fa-solid fa-xmark"></i>i -->
    <!-- <ngb-alert type="success"  #staticAlert *ngIf="isSelected" (closed)="isSelected = false">Check out our awesome new
      features!</ngb-alert>
    {{isSelected}} -->
  </div>
  <ng-template #searchBlock>
    <mat-form-field appearance="fill">
      <mat-label>Email użytkownika</mat-label>
      <input type="search" matInput formControlName="SearchField">
    </mat-form-field>
    <!-- <ng-container *ngIf="(InvitedUsers$ | async)?.length"> -->
    <!-- alert alert-danger *ngIf=" InvitedUsers$ | async"-->
    <div role="alert" [ngClass]="{'alert alert-dark': (InvitedUsers$ | async)?.length > 0 }">
      <div class="searchResult">
        <div [ngClass]="{'singleUser d-flex justify-content-between align-items-center g-0 singleUser':true}" (click)="select(user)"  (mouseout)="isMouseOver=false" (mouseover)="isMouseOver=true"  *ngFor="let user of InvitedUsers$ | async">

          <i class="fa-solid fa-user"></i>
          <div class="userEmail">{{user.email}}</div>

        </div>
      </div>

      <!-- <ul class="search-result">
        <li *ngFor="let user of InvitedUsers$ | async" >
            {{user.email}}
        </li> 
      </ul>-->
    </div>
  </ng-template>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
    <button (click)="endClick(selectedUser)" class="w-100 sendButton" [disabled]="!selectedUser" color="success" mat-raised-button cdkFocusInitial>
      <span *ngIf="!selectedUser; else spanSeleted ">select person above</span> 
      <ng-template #spanSeleted>Send an invitation</ng-template>
    </button>
</div>