.searchResult{
    /* width: 100%;
    max-height: 100%; */
    /* overflow-y: auto; */
}
.main{
    max-height: 400px;
    overflow: auto;
}
.alert-dark{
    max-height: 200px;
    overflow: auto;
}
.mat-form-field {
width: 100%;
}
.fa-user{
margin-right: 5px;
/* line-height: 20px ; */
}
.singleUser:hover{
    /* overflow: hidden; */
    background-color: var(--bs-success);
    /* padding:8px; */
}
.singleUser{
    /* overflow: hidden; */
    padding:8px;
}
.alert{
    padding: 0;
}
.alert-primary{
    padding:8px; ;
}
.mat-icon-button{
    width: auto;
    height: auto; 
    line-height: normal;
}
.userEmail{
    flex-grow: 1;
}
/* .mat-dialog-container{
max-height: 70vh;
} */