tr.mat-row {
  /* row border */
  border-top: 1px solid #ffa600;
}
.container{
  /* margin: 0 auto; */
overflow: auto;
max-width: 90% !important;
display: flex;
max-height: 80vh;
content: '';
margin: auto;
}
.container-fluid{
  min-width: 100%;
  display: flex;
  min-height: 100vh;
  /* overflow: scroll; */
  justify-content: center;
}
.add-button{
  min-width: 100%;
  border-radius:0px !important;
  

}
.somediv2xxxx{
  border-radius: 9px !important ;
  /* border-radius: 50px !important ; */
  overflow: hidden;
}
.somediv{
  background-color: #006644;
  overflow: auto;
/* max-width: 90% !important; */
display: flex;
/* justify-content: center; */
max-height: 70vh;
min-height: 30px;
/* border-radius:50% !important ; */

/* tu daiła radius */
}

.somediv23{
max-width: 90%;
/* border-radius: 8px !important ; */
/* display: flex; */
/* justify-content: center; */

}

/* .mat-table-sticky {
  border: 1px solid  #0747A6;
  outline: solid black;
  /* border-top: 1px solid #ffa600; */
  /* td.mat-header-cell:first-child {
    border-left: 1px solid #ffa600;
  } */


th.mat-header-cell:first-child {
  border-left: none;
}
th.mat-header-cell {
  border-left: 1px solid  rgba(0,0,0,.12);
  text-align: center;
}

.testSticky{
  width: 100%;
}
/* rgba(0,0,0,.12); */
form{
  width: 100%;
}
.mat-table {
  border-collapse: separate;
  min-width: 100%;
    /* min-width: 100%;*/
    /* width: 100%; 
    display: table; */
/* table-layout: fixed; */

    /* background-color: yellowgreen;
    overflow: scroll; */
}
/* .mat-column {
    flex: none;
    width: 10px;
} */
/* .mat-table .mat-cell {
  border: 1px solid;
  max-height: 5px;
} */

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}
::ng-deep .mat-form-field-wrapper{
  margin: 0;
  padding: 0;
  margin: 0;
}
/* ::ng-deep .mat-form-field .startDatefield{
  width: 13px !important;
  background-color: #006644;
} */

::ng-deep .mat-form-field-appearance-outline{
  /* height: 300px !important; */
  width: 100%;
}
.mat-column-startDate{
  /* flex: 0 0 10%; */
  /* background-color: #006644; */
  /* max-width:  130px; */
} 

::ng-deep .startDatefield .mat-form-field-infix {
  /* height: 25px; */
  /* font-size: 12px; */
  max-width: 75px !important;
  /* width: 100%; */
} /* it work fine odpowiada za odległość okony kalendarza od daty*/

::ng-deep .endDatefield .mat-form-field-infix {

  max-width: 75px !important;
}
::ng-deep .endDatefield .mat-form-field-infix {

  max-width: 75px !important;
}
::ng-deep .priorityId .mat-form-field-infix {

  max-width: 80px !important;
}




/* ::ng-deep .mat-form-field {
  width: 100%;
  height: 100% !important;;
  }
  ::ng-deep .mat-form-field-infix {
    height: 25px;
    font-size: 12px;
} */
/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
   margin: 0.0em !important; 
} */

/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
   padding: 1em 0 1.5em 0;

}Wyskokosc lini z tekstem w inpucie */
/* ::ng-deep .this-feels-better div.mat-input-wrapper.mat-form-field-wrapper{
  padding-bottom:20;
} */
.fa-bars{
  color: #ffc107;
}
.fa-angle-down{
  color: rgb(33, 104, 198);
}
.fa-angle-up{
color: rgb(148, 15, 42);
}
.ToDo{
  background-color: #DFE1E6;
  color: #0747A6;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
}
.InProgress{
  background-color: #DFE1E6;
  color: #42526E;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  /* padding: 2px 0px 3px; */
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
}
.Done{
  background-color: #DFE1E6;
  color: #006644;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
}
.idCell{
  padding-right: 24px;
}
.startDateInput{
  background-color: #DFE1E6 !important;
}
/* .kurka{
  display: block;
} */
/* .startDateField{
  width: 120px;
  height: 100% !important;
} */