.container{
overflow: auto;
max-width: 90% !important;
}
table {
    width: 100%;
}
.mat-column {
    flex: none;
    width: 10px;
}
.mat-table .mat-cell {
  border: 1px solid;
}
.classInput{
width: 100%;
height: 100%;
padding: 0 !important;
/* line-height: 1em; */
}
::ng-deep .mat-form-field-wrapper{
  margin-bottom: 0em;
  padding-bottom: 0em;
  margin: 0em;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.0em !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1.5em 0;
}/*Wyskokosc lini z tekstem w inpucie*/
.fa-bars{
  color: #ffc107;
}
.fa-angle-down{
  color: rgb(33, 104, 198);
}
.fa-angle-up{
color: rgb(148, 15, 42);
}
.ToDo{
  background-color: #DFE1E6;
  color: #0747A6;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
}
.InProgress{
  background-color: #DFE1E6;
  color: #42526E;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  /* padding: 2px 0px 3px; */
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
}
.Done{
  background-color: #DFE1E6;
  color: #006644;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
}
.idCell{
  padding-right: 24px;
}