.Content{

}
.container-fluid{
  min-width: 100%;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  padding: 10px;
  background-color: #0747A6;
}
.add-button{
  min-width: 100%;
  border-radius:0px !important;
}
.Table{
  background-color: #006644;
  overflow: auto;
  max-height: 65vh;

}
.BaseTable{
max-width: 90%;
border-radius: 10px !important ;
overflow: hidden;
}
th.mat-header-cell:first-child {
  border-left: none;
}
th.mat-header-cell {
  border-left: 1px solid  rgba(0,0,0,.12);
  text-align: center;
}
.Footer{
  width: 100%;
}
.mat-table {
  border-collapse: separate;
  min-width: 100%;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}
::ng-deep .mat-form-field-wrapper{
  margin: 0;
  padding: 0;
  margin: 0;
}
::ng-deep .mat-form-field-appearance-outline{
  width: 100%;
}
.mat-column-startDate{
} 

::ng-deep .startDatefield .mat-form-field-infix {
  max-width: 75px !important;
} /* it work fine odpowiada za odległość okony kalendarza od daty*/

::ng-deep .endDatefield .mat-form-field-infix {

  max-width: 75px !important;
}
::ng-deep .endDatefield .mat-form-field-infix {

  max-width: 75px !important;
}
::ng-deep .priorityId .mat-form-field-infix {

  max-width: 80px !important;
}

.fa-bars{
  color: #ffc107;
}
.fa-angle-down{
  color: rgb(33, 104, 198);
}
.fa-angle-up{
color: rgb(148, 15, 42);
}
.ToDo{
  background-color: #DFE1E6;
  color: #0747A6;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
}
.InProgress{
  background-color: #DFE1E6;
  color: #42526E;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  /* padding: 2px 0px 3px; */
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
}
.Done{
  background-color: #DFE1E6;
  color: #006644;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
}
.idCell{
  padding-right: 24px;
}
.startDateInput{
  background-color: #DFE1E6 !important;
}
