<div class="container">

  <div class="row align-items-end">
    <div class="col ">
      <button mat-raised-button (click)="create()" class="demo-button">
        Add Team
      </button>
    </div>
    <form [formGroup]="form" id="test1">
      <table mat-table [dataSource]="dataSource" formArrayName="PTasks">

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: displayColumns;"></tr>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td class="idCell" (change)="testChange(row,index)" mat-cell *matCellDef="let row; let index = index"
            [formGroupName]="index">
            <!-- <mat-form-field class="classInput" appearance="outline">
              <input matInput type="text" formControlName="id">
            </mat-form-field> -->

            <a class="link-secondary">{{row.controls['id'].value}}</a>

            
            
          </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef> startDate</th>
          <td (change)="testChange(row,index)" mat-cell *matCellDef="let row; let index = index"
            [formGroupName]="index">
            <mat-form-field class="classInput" appearance="outline">
              <input matInput [matDatepicker]="picker" formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef> endDate4 </th>
          <td (change)="testChange(row,index)" mat-cell *matCellDef="let row; let index = index"
            [formGroupName]="index">
            <mat-form-field class="classInput" appearance="outline">
              <input matInput [matDatepicker]="picker" formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> title </th>
          <td (change)="testChange(row,index)" mat-cell *matCellDef="let row; let index = index"
            [formGroupName]="index">

            <mat-form-field class="classInput" appearance="outline">
              <input matInput type="text" formControlName="title">
            </mat-form-field>

          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> description </th>
          <td (change)="testChange(row,index)" mat-cell *matCellDef="let row; let index = index"
            [formGroupName]="index">

            <mat-form-field class="classInput" appearance="outline">
              <input matInput type="text" formControlName="description">
            </mat-form-field>

          </td>
        </ng-container>
        <ng-container matColumnDef="priorityId">
          <th mat-header-cell *matHeaderCellDef> priorityId </th>
          <td mat-cell *matCellDef="let row; let index = index"
            [formGroupName]="index">

            <!-- <mat-form-field class="classInput" appearance="outline">
              <input matInput type="text" formControlName="priorityId">
            </mat-form-field> -->
            <!-- <button class="dropdown-item" type="button">{{row.controls['priorityId'].value}}</button> -->

            <!-- floatLabel="never" -->
                <mat-form-field   appearance="outline">
                  <mat-select (selectionChange)="testChange(row,index)" [formControl]="row.controls['priorityId']" >
                    
                    <mat-select-trigger>
                        <i [ngClass]="GetIconPriorityId(row.controls['priorityId'].value)"></i>
                    </mat-select-trigger>

                    <mat-option value="3" ><i class="fa-solid fa-angle-up fa-xl"></i> High</mat-option>
                    <mat-option value="2" ><i class="fa-solid fa-bars fa-xl"></i> Medium</mat-option>
                    <mat-option value="1"><i class="fa-solid fa-angle-down fa-xl"></i> Low</mat-option>
                    <!-- <mat-option  value="1"> priorityId.value  </mat-option> -->

                  </mat-select>
                </mat-form-field>

          </td>
        </ng-container>
        <ng-container matColumnDef="stateId">
          <th mat-header-cell *matHeaderCellDef> stateId </th>
          <td (change)="testChange(row,index)" mat-cell *matCellDef="let row; let index = index"
            [formGroupName]="index">

            <mat-form-field appearance="outline">
              <mat-select (selectionChange)="testChange(row,index)" formControlName="stateId">

                <mat-select-trigger>

                  <span [ngClass]="GetIconStateId(row.controls['stateId'].value)">
                    {{ StateTable[ row.controls['stateId'].value?.[0] - 1] }}
                    <!-- {{row.controls['stateId'].value?.[0] || ''}} -->
                  </span>
                </mat-select-trigger>

                <mat-option value="1"> <span class="ToDo"> To Do</span> </mat-option>
                <mat-option value="2"> <span class="InProgress">In Progress</span> </mat-option>
                <mat-option value="3"> <span class="Done">Done</span> </mat-option>
              </mat-select>
            </mat-form-field>

          </td>
        </ng-container>
        <ng-container matColumnDef="teamId">
          <th mat-header-cell *matHeaderCellDef> teamId </th>
          <td (change)="testChange(row,index)" mat-cell *matCellDef="let row; let index = index"
            [formGroupName]="index">
            <mat-form-field class="classInput" appearance="outline">
              <input matInput type="text" formControlName="teamId">
            </mat-form-field>
          </td>
        </ng-container>

      </table>
    </form>
  </div>


  <mat-form-field appearance="outline">
    <mat-select>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- <div>
    <pre>{{ form.value | json }}</pre>
  </div>
</div> -->