

.Content{

}
.mat-column-startDate {
  /* word-wrap: break-word !important;
  white-space: unset !important; */
  /* flex: 0 0 1% !important; */
  width: 1% !important;
  /* overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; */
}
.mat-column-endDate {
  width: 1% !important;
}
.mat-column-priorityId {
  width: 1% !important;
}
.mat-column-id {
  width: 1% !important;
}
.mat-column-stateId {
  width: 1% !important;
}
.mat-column-title {
  width: 22% !important;
}
.container-fluid{
  min-width: 100%;
  /* display: flex;
  justify-content: center; */
  /* flex-direction: column; */
  padding: 10px;
  background-color: #0747A6;
}
.add-button{
  min-width: 100%;
  border-radius:0px !important;
}
.Table{
  background-color: #006644;
  overflow: auto;
  max-height: 65vh;
}
.BaseTable{
/* max-width: 90%; */
border-radius: 10px !important ;
overflow: hidden;
/* justify-content: center; */
}
th.mat-header-cell:first-child {
  border-left: none;
  /* max-width: 5px !important; */
}
th.mat-header-cell {
  border-left: 1px solid  rgba(0,0,0,.12);
  text-align: center;
}
td.mat-cell{
  /* max-width: 6px !important; */
  /* background-color: #006644; */
}

.Footer{
  width: 100%;
}
.mat-table {
  border-collapse: separate;
  min-width: 100%;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}
::ng-deep .mat-form-field-wrapper{
  margin: 0;
  padding: 0;
  margin: 0;
}
::ng-deep .mat-form-field-appearance-outline{
  width: 100%;
}
.mat-column-startDate{
} 

::ng-deep .startDatefield .mat-form-field-infix {
  max-width: 85px !important;
} /* it work fine odpowiada za odległość okony kalendarza od daty*/

::ng-deep .stateIdField .mat-form-field-infix {

  max-width: 125px !important;
}
::ng-deep .endDatefield .mat-form-field-infix {

  max-width: 85px !important;
}
::ng-deep .priorityId .mat-form-field-infix {

  max-width: 100px !important;
}

.fa-bars{
  color: #ffc107;
}
.fa-angle-down{
  color: rgb(33, 104, 198);
}
.fa-angle-up{
color: rgb(148, 15, 42);
}
.ToDo{
  background-color: #DFE1E6;
  color: #0747A6;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
}
.InProgress{
  background-color: #DFE1E6;
  color: #42526E;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  /* padding: 2px 0px 3px; */
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
}
.Done{
  background-color: #DFE1E6;
  color: #006644;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: baseline;
}
.idCell{
  padding-right: 24px;
}
.startDateInput{
  background-color: #DFE1E6 !important;
}
